body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-image: url("https://raw.githubusercontent.com/diiaz2910/assets-repo/master/1.jpg?token=GHSAT0AAAAAACVQYAUZWGVB6OXF2IGKDZHAZVLMOIQ");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
